.dropdown{
    width: 400px;
    height: 30px;
    background-color:beige;
    align-items: center;
}
.menu-icon i{
    font-size: 20px;
    margin-top: 5px;
   
}
.menu-icon {
    display: flex;
    align-items: center;
    margin-left: 380px;
   
}